.product-list {
    padding-top: calc_rem(20);

    &__title {
        font-weight: 700;
        font-size: calc_rem(40);
        margin-bottom: calc_rem(35);
    }
    &__top-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: calc_rem(5);
    }
    &__top-container-left {
        display: flex;
        align-items: center;
        gap: calc_rem(10);
    }
    &__top-container-right {
        display: flex;
        align-items: center;
        gap: calc_rem(10);
    }
    &__search {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
        background-image: url('../../../assets/search.svg');
        background-size: 26px 26px;
        background-position: 98.7% 3px;
        background-repeat: no-repeat;
        border: 2px solid $contrast_text_color;
        border-radius: calc_rem(5);
        width: calc_rem(250);
        height: calc_rem(35);
        font-size: calc_rem(18);
        padding: calc_rem(5) calc_rem(32) calc_rem(5) calc_rem(5);
    }
    &__add {
        border: 2px solid $contrast_text_color;
        padding: calc_rem(6) calc_rem(15);
        border-radius: calc_rem(6);
        background-color: white;
        transition-duration: 200ms;
        color: black;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: $contrast_text_color;
            color: white;
        }
    }
    &__error-top {
        font-size: calc_rem(16);
        font-weight: 700;
        color: $contrast_text_color;
    }
    &__table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    &__thead {
        background-color: $contrast_text_color;
    }
    &__th {
        padding: calc_rem(12) calc_rem(8);
        border: none;
        color: white;
        text-align: left;
    }
    &__tr {
        padding: 0 calc_rem(2000);
        border-bottom: 1px solid $contrast_text_color;
    }
    &__tr-hover {
        &:hover {
            background-color: #f7f7f7;
            cursor: pointer;
        }
    }
    &__td {
        text-align: left;
        padding: calc_rem(12) calc_rem(8);

        &:nth-child(1) {
            width: 17%;
        }
        &:nth-child(2) {
            width: 10%;
        }
        &:nth-child(3) {
            width: 13%;
        }
        &:nth-child(4) {
            width: 12%;
        }
        &:nth-child(5) {
            width: 17%;
        }
        &:nth-child(6) {
            width: 3%;
        }
    }
    &__delete {
        padding: calc_rem(10);
        width: calc_rem(30);
        height: calc_rem(30);
        position: relative;
        border-radius: 50%;
        transition-duration: 250ms;

        & > img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
            height: 60%;
        }

        &:hover {
            background-color: #cccccc;
        }
    }
}