.color-form {
    &__header {
        font-size: calc_rem(35);
        margin-bottom: calc_rem(12);
    }
    &__label {
        margin-bottom: calc_rem(2);
        display: block;
        font-size: calc_rem(14);
    }
    &__input {
        margin-bottom: calc_rem(4);
    }
    &__submit {
        width: calc_rem(95);
        height: calc_rem(30)
    }
    &__popup {
        width: calc_rem(350);
        height: calc_rem(300)
    }
    &__tp-color {
        margin-bottom: calc_rem(15);
        display: block;
        width: calc_rem(70);
        height: calc_rem(35);
    }
}