.color-button {
    display: block;
    font-size: calc_rem(18);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc_rem(2);
    box-shadow: 0 0 calc_rem(3) rgba($color: #000000, $alpha: 0.2);
}