.header {

    &__top {
        color: $header_text_color;
        height: calc_rem(80);
        background-color: $header_color;

        & > .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
    }
    &__left {

    }
    &__logo {
        width: calc_rem(160);
        height: calc_rem(60);
        position: relative;

        & > img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__right {
        text-align: right;
        display: flex;
        align-items: center;
        gap: calc_rem(5);
    }
    &__phone {
        margin-bottom: calc_rem(5);
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
    &__address {
        font-size: calc_rem(14);

        &:hover {
            text-decoration: underline;
        }
    }
    &__cart {
        position: relative;
        cursor: pointer;

        &:hover {
            .header__cart-counter-wrapper {
                background-color: $contrast_text_color_hover;
            }
        }
    }
    &__cart-icon {
        width: calc_rem(40);
        height: calc_rem(40);
        position: relative;

        & > img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    &__cart-counter-wrapper {
        position: absolute;
        right: calc_rem(-7);
        bottom: calc_rem(-7);
        background-color: $contrast_text_color;
        width: calc_rem(27);
        height: calc_rem(27);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__cart-counter {
        font-size: calc_rem(15);
    }
}