$header_color: #212121;
$main_color: #fff;
$header_text_color: #fff;
$main_text_color: #212121;
$contrast_text_color: #ee1c24;
$contrast_text_color_hover: #d41016;
$subcontrast_text_color_hover: #c44320;