.set-product {
    &__img-container {
        display: flex;
        gap: calc_rem(20);
    }
    &__prewiew-container {

    }
    &__prewiew {
        position: relative;
        width: calc_rem(140);
        height: calc_rem(140);

        & > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__prewiew-title {

    }
    &__img-loader-container {

    }
    &__img-title {

    }
    &__img-loader-content {
        height: calc_rem(140);
        display: flex;
        align-items: center;
    }
}