.menu-main {
    &__err {
        width: 100%;
        text-align: center;
        font-size: calc_rem(20);
        color: rgb(175, 0, 0);
    }
    &__title {
        font-weight: 700;
        font-size: calc_rem(40);
        margin-bottom: calc_rem(60);
    }
    &__category-title {
        font-size: calc_rem(24);
        font-weight: 700;
        margin-bottom: calc_rem(35);
    }
    &__category-line {
        display: block;
        width: calc_rem(90);
        height: calc_rem(4);
        background-color: $subcontrast_text_color_hover;
        margin-bottom: calc_rem(25);
    }
    &__item-cards {
        display: flex;
        flex-wrap: wrap;
        gap: calc_rem(20);
        margin-bottom: calc_rem(60);
    }
    &__loading {
        padding-top: calc_rem(20);
    }
}