.categories {
    padding-top: calc_rem(20);

    &__title {
        font-weight: 700;
        font-size: calc_rem(40);
        margin-bottom: calc_rem(35);
    }
    &__top-container {
        display: flex;
        align-items: center;
        gap: calc_rem(20);
        margin-bottom: calc_rem(15);
    }
    &__top-container-left {
        display: flex;
        align-items: center;
        gap: calc_rem(10);
    }
    &__top-container-right {
        display: flex;
        align-items: center;
        gap: calc_rem(10);
    }
    &__search {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
        background-image: url('../../../assets/search.svg');
        background-size: 26px 26px;
        background-position: 98.7% 3px;
        background-repeat: no-repeat;
        border: 2px solid $contrast_text_color;
        border-radius: calc_rem(5);
        width: calc_rem(250);
        height: calc_rem(35);
        font-size: calc_rem(18);
        padding: calc_rem(5) calc_rem(32) calc_rem(5) calc_rem(5);
    }
    &__add {
        border: 2px solid $contrast_text_color;
        padding: calc_rem(6) calc_rem(15);
        border-radius: calc_rem(6);
        background-color: white;
        transition-duration: 200ms;
        color: black;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: $contrast_text_color;
            color: white;
        }
    }
    &__error-top {
        font-size: calc_rem(16);
        font-weight: 700;
        color: $contrast_text_color;
    }
    &__list {
    }
    &__item {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        max-width: calc_rem(450);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: calc_rem(10);
        height: calc_rem(70);
        margin-bottom: calc_rem(10);
        cursor: pointer;

        &:hover {
            background-color: #f7f7f7;
        }
    }
    &__item-title {
        font-weight: bold;
        font-size: calc_rem(24);

    }
    &__delete {
        position: relative;
        width: calc_rem(45);
        height: calc_rem(45);
        border-radius: 50%;

        & > img {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 70%;
            height: 70%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            background-color: #cccccc;
        }
    }
}