.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
    z-index: 3;

    &._hidden {
        opacity: 0;
        visibility: hidden;
    }

    &__container {
        position: relative;
        box-shadow: 0 0 calc_rem(10) rgba($color: #000000, $alpha: 0.3);
        background-color: white;
        padding: calc_rem(20);
        border-radius: calc_rem(1); 
    }
    &__btn {
        position: absolute;
        top: calc_rem(20);
        right: calc_rem(20);
        width: calc_rem(30);
        height: calc_rem(30);
        background-color: rgba(255, 255, 255, 0.3);
    }
    &__btn-l {
        position: relative;
        display: block;
        width: calc_rem(37);
        height: calc_rem(2);
        background-color: rgba($color: #000000, $alpha: 0.8);
    }
    &__btn-l-1 {
        transform: rotate(45deg);
        top: calc_rem(2);
        left: calc_rem(-5);
    }
    &__btn-l-2 {
        transform: rotate(-45deg);
        top: calc_rem(-1);
        left: calc_rem(-5);
    }
}