.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__label {
        font-size: calc_rem(14);
        margin-bottom: calc_rem(2);
    }
    &__input {
        width: calc_rem(250);
    }
    &__submit-container {
    }
    &__submit {
        margin-bottom: calc_rem(10);
    }
    &__err-msg {
        max-width: 270px;
        text-align: center;
    }
}