.add-category {
    padding-top: calc_rem(15);

    &__title {
        font-size: calc_rem(40);
        font-weight: 700;
        margin-bottom: calc_rem(40);
    }
    &__form {
        display: inline-block;
    }
    &__label {
        display: block;
        font-size: calc_rem(12);
        margin-bottom: calc_rem(1);
    }
    &__input {
        display: block;
        background-color: #eee;
        border-bottom: 2px solid $contrast_text_color;
        height: calc_rem(32);
        width: calc_rem(350);
        border-radius: calc_rem(3) calc_rem(3) calc_rem(0) calc_rem(0);
        margin-bottom: calc_rem(15);
        color: black;
        padding: 5px 4px;
        font-size: calc_rem(16);

        &:disabled {
            opacity: 0.4;
        }
    }
    &__submit {
        display: block;
        background-color: $contrast_text_color;
        padding: calc_rem(7) calc_rem(7);
        color: white;
        font-weight: 700;
        font-size: calc_rem(16);
        border-radius: calc_rem(6);

        &:hover {
            background-color: $contrast_text_color_hover;
        }
    }
    &__submit-container {
        margin-bottom: calc_rem(10);
    }
    &__err-msg {
        font-size: calc_rem(13);
        color: rgb(190, 6, 6);
        font-weight: 700;
        text-align: left;
        max-width: calc_rem(350);
    }
}